<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>

<body>
    <h1>hello world</h1>
    <h2>whatsup</h2>
    <a href="{% url 'login' %}">login</a>&ensp;
    <a href="{% url 'signup' %}">signup</a>
    <h2>Name : {{name}} </h2>
    <h2>Age : {{age}} </h2>
    <br><br><br>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <label for="num1">Enter the frist number</label><br>
        <input type="number" name="num1" id="num1"><br><br>
        <label for="num2">Enter the second number</label><br>
        <input type="number" name="num2" id="num2"><br><br>
        <input type="submit">
    </form>
</body>

</html>